<!-- Making A Navbar Section In Which We Will Put All The Links Of The Images -->
<nav *ngIf="true ">

  <!-- Making An Unordered List To Put Into This Nav Section -->
  <ul class="pagination">

    <!-- Adding A Previous Item In The List -->
    <li class="page-item" 
    [appClass]="{ 'disabled' : currentPage === 0}"
    >
      <a (click)="currentPage = currentPage-1" class="page-link" href="#">Prev</a>
    
    </li>
    
    <!-- Putting List Items Starting From Here -->
    <ng-container *appTimes="images.length ; index as i" >
    <li class="page-item" 
        [appClass]="{ active : i === currentPage }"
        *ngIf="checkWindowIndex(i)"
    ><!--Using ngFor Directive To Show List Of Items At A Same Place-->

      <!-- Adding Links Using Anchor Tab -->
      <a (click)="currentPage = i" class="page-link" href="#"> {{ i + 1 }} </a> 
    
    </li>
    </ng-container>

    <!-- Adding A Next Item In The List -->
    <li class="page-item"
        [appClass]="{ 'disabled' : currentPage === (images.length-1)}"
    >
        <a class="page-link" (click)="currentPage = currentPage+1">Next</a>
        
    </li>
  
  </ul>

</nav>

<!-- -------------------------------------------------------------------------------------------------------------------------------------------->

<!-- Making A Div Element For The Images Part -->

<!-- First Of All We Will Show The Title Of The Selected Image -->
<div>
  <h4 class="text-center"> {{images[currentPage].title}} </h4> <!-- Using String Interpolation To Show The Title -->
  <img id="size" [src]="images[currentPage].url">
</div>

<!-- Showing Elements Over The Screen Using *ngSwitch-->
<div class="carousel-caption d-none d-md-block">
  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
        <p class="fs-1" id="text">You Are Currently Watching Page 1</p>
    </div>
    <div *ngSwitchCase="1">
        <p class="fs-1" id="text">You Are Currently Watching Page 2</p>
    </div>
    <div *ngSwitchCase="2">
        <p class="fs-1" id="text">You Are Currently Watching Page 3</p>
    </div>
    <div *ngSwitchCase="3">
        <p class="fs-1" id="text">You Are Currently Watching Page 4</p>
    </div>
  </div>
</div>
